@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --cor0:#B76CF5;
    --cor1:#FFE445;
    --cor2:#58fa01;
    --cor3:#E05C36;
    --cor4:#41C6E0;
    --cor5:#2228F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
}

.div_logo{
    margin: 0 2%;
}
.div_logo2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header, header > div> p, header > div > h1{
    width: 100%;
    padding: 0;
    margin: .4%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor0);
}

h2, h3, p{
    padding: 2%;
}

.logo{
    width: 100%;
    background-color: white;
    margin-bottom: 2%;
    box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 50%);
}

.criar{
    background-color: white;
    width: 350px;
    padding: .8%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 50%);
}
#comentario, #titulo{
    width: 100%;
    padding: 2%;
    font-style: italic;
    font-size: 1.0rem;
    transition: .1s;
    border: none;
    border: solid 1px #cecece;
}
#comentario:focus, #titulo:focus{
    border: none;
    border-bottom: 2px solid var(--cor5);
    border-left: 2px solid var(--cor5);
}

#adicionar{
    font-size: 36px;
    color: black;
    background-color:transparent;
    border: none;
    cursor: pointer;
    transition: .3s;
}
#adicionar:hover{
    transform: scale(1.3);
}
#adicionar:active{
    transform: scale(.5);
}

.confg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}
.cores{
    display: flex;
    width: 50%;
}
input[type="radio"]{
    cursor: pointer;
}
label{
    display: none;
}

.branco{
    background-color: white;
    padding: 4%;
}
.vermelho{
    background-color: var(--cor3);
    padding: 4%;
}
.amarelo{
    background-color: var(--cor1);
    padding: 4%;
}
.verde{
    background-color: var(--cor2);
    padding: 4%;
}
.azul{
    background-color: var(--cor4);
    padding: 4%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    min-height: 100vh;
    padding: 2%;
    background-color: white;
    box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 50%);
}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    width:100%;
    overflow: hidden;
}

.conteiner_pes_cores{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}


.campo_pesquisa_cor{
    display: flex;
    width: 50%;
    transition: .3s;
}

#pes_conteudo{
    display: flex;
    width: 10%;
    padding: 1%;
    transition: .1s;
    border: solid 1px #cecece;
}

#pes_conteudo > input[type="text"]{
    width: 100%;
    padding: 1%;
    font-style: italic;
    font-size: 1.0rem;
    transition: .1s;
    border: none;
}
#search:hover{
    transform: scale(1.3);
}
#search:active{
    transform: scale(.5);
}

#pesquisa{
    font-size: 36px;
    color: black;
    background-color:transparent;
    border: none;
    cursor: pointer;
    transition: .1s
}
#pesquisa:hover{
    transform: scale(1.3);
}
#pesquisa:active{
    transform: scale(.5);
}

.nota{
    width: 296px;
    /* width: 100%; */
    padding: .8%;
    margin: .8%;
    transition: .3s;
    box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 50%);
}
.nota_hover:hover{
    transform: scale(1.2);
}

.animaApagar{
    transform:rotate(180deg) scale(.1);
    filter: opacity(.1);
}
.apagar{
    font-size: 36px;
    float: right;
    color: black;
    background-color:transparent;
    border: none;
    cursor: pointer;
    transition: .3s
}
.apagar:hover{
    transform: scale(1.3);
}
.apagar:active{
    transform: scale(.5);
}


